*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
}
    .portada{
        background-image: url(img/portada.jpg);
        background-position: center;
        background-size: cover;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items:flex-end;
    }
        .nav{
            display: flex;
            justify-content: center;
            gap: 20px;
            width: 100%;
            padding: 5px 0;
            border-top: .5px solid white;
            background-color: rgba(44, 2, 28, 0.39);
        }
        .nav a{
            text-decoration: none;
            color: white;
            font-size: 14px;
            text-transform: uppercase;
        }
            .page{
                text-align: center;
                display: flex;
                justify-content: center;
                align-items:center;
            }
            .page:hover{
                background-color: rgba(163, 28, 62, 0.993);
            }
.row{
    display: flex;
    padding:50px 200px;
}
    section{
        display: flex;
        flex-wrap: wrap;
        flex:7;
    }
        .elemento{
            margin: 0 5px;
            margin-bottom: 10px;
        }
        .elemento img{
           width: 100%;
        }
    aside{
        background-color: rgb(121, 0, 50);
        flex: 1;
    }
    aside h4{
        text-align: center;
        color: white;
        font-size: 18px;
    }
    aside p{
        padding: 0 10px;
        color: white;
    }